<%
if (params.has_key?(:hour_ids))
  client_id = (Hour.find_by id: params[:hour_ids].first).client_id
  params[:hour_ids].each do |value|
    hour = Hour.find_by id: value
    if client_id != hour.client_id
      redirect_to :controller => 'hours', :action => 'index', error_message: "Non puoi fatturare due clienti diversi nella stessa fattura"
      return
    end
  end
  @new_invoice = Invoice.create
  params[:hour_ids].each do |value|
    @hour = Hour.find_by id: value
    @user = User.find_by id: @hour.user_id
    @client = Client.find_by id: @hour.client_id
    @hour.invoice_id = @new_invoice.id
    @hour.is_fatturata = true
    @new_invoice.total_amount += (@hour.end_time - @hour.start_time).to_i * (@user.tarif/3600)
    @hour.save if @hour.valid?
    @new_invoice.save if @new_invoice.valid?
  end
  @hours_to_bill = Hour.where(invoice_id: @new_invoice.id)

else
  redirect_to hours_path, :notice => "Devi selezionare almeno un ora da fatturare"
  #:controller => 'hours', :action => 'index', error_message: "Devi selezionare almeno un ora da fatturare"
end

%>
<div class="center">
  <div class="container-fluid">
    <%= render 'invoices/invoice_pdf' %>
    <br/> <br/>
    <p>
    <div class="row">
      <div class="col-md-6 col-md-border">
        <br/>
        <%= link_to "Go to invoices list", invoices_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="col-md-6 col-md-border">
        <br/>
        <%= link_to "Print PDF version", hours_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
    </p>
  </div>
</div>
