<h2>Check how many hours have been billed:<br>
<small>[false = Unbilled hours, true = billed hours]</small></h2>
<%= pie_chart(charts_total_hours_path, download: "total", donut: true, legend: 'bottom') %>
<h2>Total amount billed: € <%= @invoices.pluck(:total_amount).reduce(:+) %><br>
<small>[The graph is grouped by invocie id]</small></h2>
<%= line_chart charts_total_single_invoice_amount_path, xtitle: "Invoice ID", ytitle: "Invoice Amount", download: "Invoices_amount" %>
