<div class="center jumbotron">
  <h1>App Fatturazione</h1>

  <h2>
    The Home Page for the App Fatturazione sample app
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
